body {
  background-color:black;
  background-image: url("night.jpeg");
  text-align: center;
  font-family: serif;
  color:#b0c4de;
}
h1 {
  font-family: "sans-serif";
  color: red;
  text-align: center;
  background-color:#191970;
}
h2 {
  font-family: "sans-serif";
  color: red;
  text-align: center;
  background-color:#000039;
}
img {
	border-radius: 8px;
	padding: 9px;
	width: 250px;
}
nav#horzl ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-decoration: none;
}
nav#horzl ul li {
	float: left;
	margin: 0 15px;
	text-decoration: none;
}
nav#horzl ul li a {
	display: block;
	color: blue;
	font-weight: bold;
	text-decoration: none;
	width: 100px;
	padding: 15px 0px 15px 0px;
	border-radius: 20px;
}

#navbar{
	list-style-type:none;
	text-decoration: none;
}
#navbar a:hover{
	color:red;
	padding: 10px 	10px;
	text-decoration: none;
}

#map {
  position: absolute;
  width: 50%;
  height: 500px;
  right: 25%;
  border: solid blue 50px;
  border-radius: 10px;
}
#index{
	padding: 1em;
	margin: auto;
	line-height: 2;
	text-align: auto;
	color: blue;
	position:relative;
}
